[submodule "Vultron/third_party/glfw"]
	path = Vultron/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vultron/third_party/glm"]
	path = Vultron/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vultron/third_party/vma"]
	path = Vultron/third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
